@import url('reset.css');
@import url('global.css');
@import url('../components/_link-button.css');
@import url('../components/_gallery.css');

*{
  font-family: "poppins", sans-serif;
  text-decoration: none;
  color: #fff;
}

.s-wrapper{
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
}

.s-wrapper video{
  position: fixed;
  width: 100%;
}

.s-wrapper .s-left-column{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-right: 50px;
  left: 20px;
  top: 0;
  z-index: 1;
}

.s-wrapper .s-main-content{
  height: 100%;
  width: 100%;
  padding-left: 130px;
  position: relative;
}

.s-wrapper .s-main-content__top{
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom{
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigator{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.navigator ul li{
  margin: 60px 0;
}

.navigator ul li:first-child{
  margin-top: 0;
}

.navigator ul li:last-child{
  margin-bottom: 0;
}

.navigator ul li a{
  color: #fff;
  border: solid 2px #fff;
  width: 45px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigator::before{
  content: '';
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
  z-index: 0;
}

.navigator ul{
  z-index: 1;
}

.navigator ul li a:hover,
.navigator ul li a.active{
  color: var(--primary-color);
  background-color: white;
}

.navigator .navigator__icon{
  position: absolute;
  top: -20px;
}

.s-wrapper .s-main-content .s-logo img{
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 30px;
}

.pills ul{
  display: flex;
  flex-direction: row;
}

.pills ul li{
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.pills ul li:first-child{
  margin-left: 0;
}

.s-main-content .s-main-content__top .s-description{
  background-color: rgba(0, 0, 0,.7);
  max-width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.s-main-content .s-main-content__top .s-description .s-description__text p{
  color: #fff;
  line-height: 170%;
}

.s-main-content .s-main-content__top .s-description .pills{
  margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links{
  padding: 20px;
  padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
  display: flex;
  flex-direction: row;
}

.s-spiderman-01-01{
  background-image: url('../img/spiderman-tobey/movie-01/background.png');
  background-size: cover;
}

.s-spiderman-01-02{
  background-image: url('../img/spiderman-tobey/movie-02/background.png');
  background-size: cover;
}

.s-spiderman-01-03{
  background-image: url('../img/spiderman-tobey/movie-03/background.png');
  background-size: cover;
}

